{
  "plugins": ["node"],
  "extends": ["eslint:recommended", "plugin:node/recommended"],
  "rules": {
    "node/exports-style": ["error", "module.exports"],
    "node/no-unsupported-features": ["error", {
      "version": 8
    }],
    "node/shebang": 0,
    "no-console": 0,
    "semi": [2, "always"]
  }
}
